<div class="container">
  <h2 style="text-align:center">Welcome</h2>
  <div class="panel panel-default clearfix">
    <div class="panel-body clearfix">
      <div class="content-list clearfix  col-sm-2 col-md-3">
          <h3>PROMOTIONS</h3>
          <div class="panel panel-default clearfix" >
            <div class="panel-body clearfix">
              <ul class="clearfix" *ngFor="let product of promotionLists">
                <li class="panel panel-default promotion-link clearfix"><span class="clearfix promotion-list" (click)="ProductListShow(product);">{{product.ProductTitle}}</span></li>
                
              </ul>
            </div>
          </div>  
      </div>
      <div class="content-body col-sm-9 col-md-7  clearfix content-style">
        <div class="panel panel-default  promotion-content clearfix">
          <app-promo1></app-promo1>
         </div>
       
      </div>  
    </div>
  </div>
</div>